body {
    font-family: Karla, sans-serif;
    background-color: #0b2434;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#root {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
}

.mainContent {
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5em 3em;
}

.title {
    font-size: 40px;
    margin: 0;
}

.dieContainer {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    padding-top: 1em;
}

button {
    width: 45px;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(1px 3px 3px lightgrey);
    cursor: pointer;
    font-family: Karla, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.rollBtn {
    background-color: #5035ff;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    width: auto;
    height: 50px;
    padding: 6px 21px;
    margin-top: 30px;
}
